/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.header {
    .header-ipa {
        max-width: 1220px;
        margin-left: calc(50% - 610px);
        margin-right: calc(50% - 610px);
        .block {
            &:first-of-type {
                font-size: 180px;
            }
            &:last-of-type {
                font-size: 190px;
            }
        }
    }
}